body {
    max-width: 1440px;
    height: 100vh;
    display: grid;
    margin: 0 auto;
    background-color: hsl(212, 45%, 89%);
    place-content: center;
    text-align: center;
}

main {
    max-width: 300px;
    margin: 0 auto;
    background-color: hsl(0,0%,100%);
    border-radius: 15px;
    padding: 20px 15px;
}

img {
    max-height: 290px;
    border-radius: 15px;
}

p {
    font-family: 'Outfit', sans-serif;;
    margin: 20px 30px 25px 30px;
}

.paragraphOne {
    font-size: 1.3rem;
    font-weight: 700;
}

.paragraphTwo {
    font-size: 0.938rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 11px; 
    text-align: center;
    margin-top: 15px;
}

footer a {
    color: hsl(228, 45%, 44%); 
}